/* * {
    box-sizing: border-box;
    text-align: center;
  } */


  section {
	padding: 20px;
	margin-bottom: 10px;
    background: #ccc;
    text-align: center;
}

#section1 {
	float: left;
    width: 20%;
    margin: 10px;
    color:black;
    background: teal;
}
#section2 {
	float: left;
	width: 20%;
    margin: 10px;
    color: black;
    background: gray;

}
