body {
  background: #101010;
}

nav {
  height: 5vh;
}

.bgblk {
  background: #2194f1;
}

.banner {
  display: inline-block;
  font-family: 'Fugaz One', cursive;
  font-size: 2.5em;
  background: linear-gradient(to right, #2196f3 , #0d47a1 , #2196f3 );
  width: 400px;
  height: 10vh;
  transform: skewX(-20deg);
}

.headline {
  background: linear-gradient(to right, #2196f3 , #0d47a1 , #2196f3 );
}

.parallax {
  height: 100vh;
}